*{
    box-sizing: border-box;
    
}

body {
    margin: 0px;
    font-family: 'Baloo Chettan 2', cursive;
}



nav {
    background-color: rgb(177, 238, 127);
    overflow: hidden;
    display: flex;
   
}

nav a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: rgb(15, 6, 6);
    font-weight: bold;

}
nav a:hover{
    color: rgb(0, 60, 255);
    border: 2px solid black;
    
    background-color: aliceblue;
}
main {
    background-color: rgb(230, 251, 252);
    
    font-weight: bold;
}
.s1{
    text-align: center;
}
.s3{
    color: black;
}
h2 {
    padding: 20px;
    text-align: center;
}

section:nth-child(even) {
    background-color: rgb(241, 241, 241);
    
}

section {
    min-height: 100vh;
    background-color: bisque;
    font-size: larger;
}
section h2{
    background-color: rgb(33, 199, 163);
}
video {
    padding: 10px;
}

iframe {
    height: 45vh;
    width: 35vh;
    float: left;
    padding: 15px;
    background-color: rgb(185, 255, 127);
}

img {
    padding: px;
    border: 5px solid greenyellow;
    
    
}

section h5 {
    margin: 40px;
}

footer {
    background-color: rgb(13, 43, 43);
    overflow: hidden;
    height: 20%;
}

footer marquee{
    color:white;
}
footer marquee:hover{
    color: red;

}

.about{
    font-size: large;
}
.banner{
    text-align: center;
    color: greenyellow;
    background-color:green;
    height: 15vw;
    min-height: 100px;
    padding: 50px;
    background-image: url("banner1.jpg");
    background-size: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
@media  screen and (max-width:700px) {
    nav{
        flex-direction: column;
        padding: 10px 0px;
    }
    .flexleft{
        margin-left: 0;
    }
    
}
.flexleft{
    margin-left: auto;
}
#leftbox{
    float: left;
    width: 25%;
    height: 280px;
}
#middlebox{
    float: left;
    width: 50%;
    height: 280px;
    
    
    
}
#rightbox{
    float: right;
    width: 25%;
    height: 280px;
}
.middleboxp{
    width: 25%;
    margin-left: 290px;
    position: relative; bottom: 25px;
}
.services{
    text-align: center;
}
